.titleFooterRoutes {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #743ba5;
    /* width: 80%; */
    margin-top: 20px;
}
