.innerContainer{
    background: #F2F2F2;
    width: 100%;
    height: 90%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    padding: 2%;
}

.login{
    margin-top: 5%;
    min-width: 400px;
}
.mainContainer{
    width: 100%;
    height: 100%;
}

.loginHeading{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 5%;
}

.headerRow{
    display: flex;
    align-items: center;
    height: 100px;
    background: 
    #55297C;
}

.registeredLogo {
    font-size: 14px;
    vertical-align: super;
}

.loginSubHeading{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #414042;
    margin-top: 5%;
}

.headerLogo{
    margin-right: 1%;
    height: 100%;
    width:5%;
    display:flex;
    align-items:center;
    justify-content:center;
    background: rgb(65, 64, 66);
}

.headerTitle{
    display:flex;
    align-items:center;
    justify-content:center;
}

.titleImage{
    align-self: flex-start;
}

.loginForm{
    background: #FFFFFF;
    border: 1px solid #55297C;
    box-sizing: border-box;
    border-radius: 10px;
    height: auto;
    width: 90%;
}

.userIcon{
    background: #F2F2F2;
    border-radius: 7px;
    width:15%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 3%;
}

.inputField{
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    //max-height: 20%;
    //height: 60%;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    padding: 4%;
    color: rgba(0, 0, 0, 0.5);
}

.fields{
    width: 80%;
    margin-bottom: 5%;
}

.loginButton{
    background: #55297C;
    border-radius: 4px;
    border: none;
    width: 80%;
    padding: 2.5%;
}

.loginButton2{
    background:white;
    border-color: #F89723;
    border-radius: 4px;
    border-width: 2px;
    width: 80%;
    padding: 2.5%;
}

.buttonText{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
}

.buttonText2{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F89723;
    justify-content: center;
}
.notRegister{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin: auto;
    display: flex;
    color: black !important;
}
.register{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin: auto;
    color: #55297C !important;
    cursor: pointer;
}
.forgetPassword{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-right: 5%;
    color:     #55297C !important;
    cursor: pointer;
}
.passwordIcon{
    color: gray;
    margin-left: -30px;
    font-size: 30px;
    position: absolute;
    margin: 10px -30px;
    cursor: pointer;
}

.bottomDetails{
    margin: 5% 0%;
}

.bottomDetailsCols{
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}

.bottomDetailsColsSelected{
    color: #F7A246;
    cursor: pointer;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }